<div class="container mt-4">
  <h1 class="text-center mb-4">Classement par densité de population</h1>

  <div class="table-responsive shadow-sm rounded">
    <table class="table table-striped table-hover">
      <thead class="table-primary">
      <tr>
        <th>#</th>
        <th>Commune</th>
        <th>Population</th>
        <th>Superficie (km²)</th>
        <th>Densité (hab/km²)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let commune of communes; let i = index">
        <td>{{ i + 1 }}</td>
        <td><strong>{{ commune.Nom }}</strong></td>
        <td>{{ commune.Population }}</td>
        <td>{{ commune.Superficie }}</td>
        <td>{{ commune.DensitePopulation }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
